// Variables for consistent styling
$primary-color: #0d868f;
$secondary-color: #f8f9fa;
$text-color: #555;
$icon-color: #0D868F;
$card-bg: #fff;
$border-radius: 10px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$gradientfrom: #0d868f;
$gradientto: #17BE81;